In [20]:
import gEconpy as ge
import gEconpy.plotting as gp
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd
import statsmodels.api as sm

config = {
    'figure.figsize':(14,4),
    'figure.dpi':144,
    'figure.facecolor':'white',
    'axes.grid':True,
    'grid.linestyle':'--',
    'grid.linewidth':0.5,
    'axes.spines.top':False,
    'axes.spines.bottom':False,
    'axes.spines.left':False,
    'axes.spines.right':False
}

plt.rcParams.update(config)

In [21]:
from pandas_datareader import fred, wb
import pandas as pd

In [22]:
pip install --upgrade pandas openpyxl xlrd -q

Note: you may need to restart the kernel to use updated packages.

In [5]:
#INTERST RATE

In [23]:
import os

# Get the current working directory
current_directory = os.getcwd()
print(f"/Users/katerynatymoshchuk: {current_directory}")

# Specify the full path to the new directory
new_directory = '//Users/katerynatymoshchuk/Desktop/Macro project python'

# Change the working directory to the new path
os.chdir(new_directory)

# Verify the change in the working directory
updated_directory = os.getcwd()
print(f"Updated working directory: {updated_directory}")

/Users/katerynatymoshchuk: /Users/katerynatymoshchuk/Desktop/Macro project python
Updated working directory: /Users/katerynatymoshchuk/Desktop/Macro project python

In [24]:
import pandas as pd

file_path = '/Users/katerynatymoshchuk/Desktop/Macro project python/NBU_interest_rates.xlsx'
df = pd.read_excel(file_path, engine='openpyxl')
df.Date=pd.to_datetime(df.Date,dayfirst=True)
df = df.iloc[:, :2]
df = df.rename(columns={'Key policy rate, % P. A.' : 'r_G'})
df.set_index('Date',inplace=True)
df.head()

             r_G
Date
1992-12-10  80.0
1992-12-11  80.0
1992-12-12  80.0
1992-12-13  80.0
1992-12-14  80.0

In [25]:
r_G = df['r_G'].copy()
r_G.head()

Date
1992-12-10    80.0
1992-12-11    80.0
1992-12-12    80.0
1992-12-13    80.0
1992-12-14    80.0
Name: r_G, dtype: float64

In [26]:
def compound_interest(monthly_interests):
    quarterly_interest = (1 + monthly_interests).prod() - 1
    return quarterly_interest

# Multiply by 0.01 (divide by 100) to covert percents to decimals
r_G_decimal = r_G.mul(1 / 100)

# Resample the data to quarterly
r_G_quarterly = r_G_decimal.resample('QS').first().add(1).pow(1/4).add(-1)

# Check your model to know whether you need to add 1 to the data
r_G_quarterly = r_G_quarterly + 1
r_G_quarterly.head()

Date
1992-10-01    1.158292
1993-01-01    1.158292
1993-04-01    1.189207
1993-07-01    1.357906
1993-10-01    1.357906
Freq: QS-JAN, Name: r_G, dtype: float64

In [27]:
r_G_quarterly.to_csv('Interest_rate_processed.csv')

In [152]:
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

Current Working Directory: /Users/katerynatymoshchuk/Desktop/Macro project python

In [ ]:
#BONDS

In [30]:
import pandas as pd
import os

current_dir = os.getcwd()
dfs=[]

file_paths = [os.path.join(current_dir,'/Users/katerynatymoshchuk/Desktop/Macro project python/bonds_USD.xlsx')]

for file_path in file_paths:
    
    df = pd.read_excel(file_path, engine='openpyxl',parse_dates=True)
    df.Date=pd.to_datetime(df.Date,dayfirst=True)
    df.set_index('Date',inplace=True)
    df.dropna(axis=1,how='all',inplace=True)
    dfs.append(df)

In [31]:
ls

Average wages.csv             WB and Fred Processed.ipynb
Bonds_processed.csv           Working hours.csv
Downloading Labor Data.ipynb  bonds_EUR.xlsx
Interest_rate_processed.csv   bonds_UAH.xlsx
NBU_interest_rates.xlsx       bonds_USD.xlsx
Ukraine_RBC.ipynb

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2845 entries, 2011-12-20 to 2023-12-08
Data columns (total 1 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Volume at par, USD million  2845 non-null   float64
dtypes: float64(1)
memory usage: 44.5 KB

In [33]:
df.head()

            Volume at par, USD million
Date
2011-12-20                      96.250
2011-12-21                      52.290
2011-12-22                      59.262
2011-12-23                      21.950
2011-12-28                      11.289

In [34]:
df = df.rename(columns={'Volume at par, USD million' : 'Bonds, USD billion'})
df.head()

            Bonds, USD billion
Date
2011-12-20              96.250
2011-12-21              52.290
2011-12-22              59.262
2011-12-23              21.950
2011-12-28              11.289

In [39]:
df = df.rename(columns={'Bonds, USD billion': 'B'})
df.head()

                 B
date
2011-12-20  96.250
2011-12-21  52.290
2011-12-22  59.262
2011-12-23  21.950
2011-12-28  11.289

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2845 entries, 2011-12-20 to 2023-12-08
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   B       2845 non-null   float64
dtypes: float64(1)
memory usage: 44.5 KB

In [41]:
df.index.name='date'
df.index=pd.to_datetime(df.index)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2845 entries, 2011-12-20 to 2023-12-08
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   B       2845 non-null   float64
dtypes: float64(1)
memory usage: 44.5 KB

In [43]:
df.to_csv('Bonds_processed.csv')